:root {
  --max-width: 1000px;
}

body {
  font-family: 'Lilita One', system-ui !important;
  display: flex;
  justify-content: center;
  margin: 0;
}

.container {
  text-align: center;
}

.container > * {
  font-weight: 400;
  margin: 0;
}

/* CONTROLERS */
.controlers {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  align-items: center;
  margin: 20px 0;
  gap: 25px;
}

.controlers button {
  max-width: 150px;
}

.controlers h3 {
  text-align: end;
}

.controlers > * {
  margin: 0;
  font-weight: 400;
  color: #fff;
}

/* GAME BOARD */
.game {
  display: grid;
  gap: 1rem;
  padding: 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
}

.card img {
  max-width: 75%;
  max-height: 75%;
}

/* SETUP CONTAINER // LEVEL DIFFCULTY // WELCOME */

.memory-setup-container > * {
  margin: 0;
}

.memory-setup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.memory-setup-content > *{
  margin: 0;
  font-weight: 400;
}

.memory-setup-content{
  padding: 2rem;
  background-color: #161f27;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.memory-buttons-levels {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.memory-buttons-levels > button {
  margin: 0;
  width: 150px;
  border: 2px solid #eee;
}

.memory-buttons-levels > button:hover{
  border: 2px solid #fcd512;
}

.memory-setup-image{
  width: 150px;
}

/* WINNING MODAL */
.winning-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winning-modal-content > * {
  margin: 0;
}

.winning-modal-content {
  background: #161f27;
  width: 320px;
  height: auto;
  padding: 25px 0;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.winning-modal-content > * {
  font-weight: 400;
}

.winning-modal-image {
  width: 150px;
}

.winning-modal-text {
  padding: 0 20px;
}

.winning-modal-information {
  display: flex;
  flex-direction: column;
  font-style: italic;
  gap: 10px;
}

.winning-modal-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.winning-modal-buttons > button {
  margin: 0;
  border: 2px solid #eee;
  width: 200px;
}

.winning-modal-buttons > button:hover {
  border: 2px solid #fcd512;
}
